.section-footer {
  height: 100vh;
}

.imagefooter {
  background: url("../../Images/Imagefooter.png");
  height: 412px;
}

.footer-blue {
  height: 562px;
  background: #091242;
}

.footer-flex {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 50px;
}

.footer-space {
  width: 312px;
  height: 118px;
  background: rgba(255, 255, 255, 0.08);
  transform: matrix(-1, 0, 0, 1, 0, 0);
}

.footer-navs {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 1181px;
  height: 118px;
  background: rgba(255, 255, 255, 0.08);
  gap: 150px;
}

.footer-navs h5 {
  width: 74px;
  height: 30px;
  font-family: "Rubik" sans-serif;
  font-weight: 500;
  font-size: 25px;
  line-height: 30px;
  color: #ffffff;
}
.footer-navs h5:nth-of-type(1) {
  margin-left: 50px;
}

.footer-end-flex {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 80px;
  margin-top: 30px;
}

.leverage {
  width: 319px;
  height: 96px;
  font-weight: 500;
  font-size: 16px;
  line-height: 151.52%;
  color: #e8e8e8;
}

.list-foot p {
  font-weight: 500;
  font-size: 16px;
  line-height: 250%;
  color: #ffffff;
}

.footer-flexs {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 35px;
}

.tonight {
  margin-top: -100px;
}

.footer-flexs button {
  font-weight: 600;
  font-size: 16px;
  line-height: 135.02%;
  color: #23212a;
  align-items: center;
  width: 148px;
  height: 60px;
  background: linear-gradient(
    94.06deg,
    #ffb629 -1.21%,
    #ffda56 58.66%,
    #ffd7a6 116.84%
  );
}

.footer-flexs svg {
  margin-right: 35px;
}

.footer-line {
  width: 100vw;
  height: 1px;
  background-color: #4e5683;
  margin-top: 50px;
}

.foot-flexer {
  display: flex;
  justify-content: center;
  gap: 238px;
}

.last-flex {
  display: flex;
  justify-content: center;
  align-self: center;
  gap: 50px;
}

.lastline {
  width: 545px;
  height: 40px;
  font-weight: 500;
  font-size: 16px;
  line-height: 250%;
  color: #ffffff;
}

.last-flex p {
  font-weight: 400;
  font-size: 16px;
  line-height: 250%;
  color: #8388a7;
}
